.iconsInfo {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 20px;
}

.iconsTitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--circle-color);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  background-color: inherit;
}

.card:hover {
  transform: scale(1.05);
}

.circle1 {
  --circle-color: #0053b3;
}

.circle2 {
  --circle-color: #f6b93b;
}

.circle3 {
  --circle-color: #78e08f;
}

.circle4 {
  --circle-color: #eb4d4b;
}

.circle5 {
  --circle-color: #6ab04c;
}

.circle6 {
  --circle-color: #e056fd;
}

.circle7 {
  --circle-color: #badc58;
}

.circle8 {
  --circle-color: #ff9ff3;
}

.circle9 {
  --circle-color: #f0932b;
}

.circle10 {
  --circle-color: #00cec9;
}

.circle11 {
  --circle-color: #00b894;
}

.circle12 {
  --circle-color: #6c5ce7;
}


.btgbutton {
  background-color: #2d3436;
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.btgbutton:hover {
  background-color: #4a4a4a;
}