
/* Extra small devices (phones) */
@media only screen and (max-width: 599px) {
  /* styles for phones */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-700);
    width: 100vw;
    color: var(--white);
  }
  
  .buttonContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .CallToAction {
    width: 100vw;
    display: flex;
    border-bottom: solid var(--white) 1px;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 5.5rem;
  }
  
.h1JURE {
  font-size: 2rem;
}

.containerInfo1, .containerInfo3 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid var(--white) 1px;
  padding: 0.5rem;
  margin-top: 2rem;
margin-bottom: 2rem;
}

.containerInfo2, .containerInfo4 {
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-bottom: solid var(--white) 1px;
  padding: 0.5rem;
  margin-top: 2rem;
margin-bottom: 2rem;
}

  .h2Text {
    font-size: 1.7rem;
    margin: 1rem;
    text-align: center;
  }

  .text {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: justify;
    hyphens: auto;
  }
  
  .imgJure, .imgTakeATour, .imgMap, .imgAudio {
    width: 90vw;
    margin: 4rem;
  }
  
  .icons {
    width: 90vw;
  }
  .secretIcon {
    width: 5rem;
    margin-top: 10rem;
  }

.pCTA {
  font-size: 1.4rem;
}  

  .footer {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .jurestyle {
    color: #cf6b26;
  }

  .linkTo {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 600px) and (max-width: 959px) {
  /* styles for tablets */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-700);
    width: 100%;
    color: var(--white);
  }
  
  .buttonContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .btnPrimary {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .CallToAction {
    width: 90vw;
    display: flex;
    border-bottom: solid var(--white) 1px;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
.h1JURE {
  font-size: 2.7rem;
}

.containerInfo1, .containerInfo3 {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid var(--white) 1px;
  padding: 2rem;
  margin-top: 2rem;
margin-bottom: 2rem;
}

.containerInfo2, .containerInfo4 {
  width: 90vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-bottom: solid var(--white) 1px;
  padding: 2rem;
  margin-top: 2rem;
margin-bottom: 2rem;
}

  .h2Text {
    font-size: 2rem;
    margin: 3rem;
    text-align: center;
  }

  .text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
    hyphens: auto;
  }
  
  .imgJure {
    width: 30rem;
    margin: 4rem;
  }
  
  .icons {
    width: 30rem;
  }
  .secretIcon {
    width: 4rem;
    margin-top: 10rem;
  }

.pCTA {
  font-size: 1.4rem;
}  

  .footer {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .jurestyle {
    color: #cf6b26;
  }

  .linkTo {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
  }
}

/* Medium devices (desktops, laptops) */
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  /* styles for desktops and laptops */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-700);
    width: 100%;
    color: var(--white);
  }
  
  .buttonContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .btnPrimary {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .CallToAction {
    width: 90vw;
    display: flex;
    border-bottom: solid var(--white) 1px;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
.h1JURE {
  font-size: 3rem;
}

.containerInfo1, .containerInfo3 {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid var(--white) 1px;
  padding: 2rem;
  margin-top: 2rem;
margin-bottom: 2rem;
}

.containerInfo2, .containerInfo4 {
  width: 90vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-bottom: solid var(--white) 1px;
  padding: 2rem;
  margin-top: 2rem;
margin-bottom: 2rem;
}

  .containerText {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .h2Text {
    font-size: 2rem;
    margin: 3rem;
    text-align: center;
  }

  .text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: justify;
    hyphens: auto;
  }
  
  .imgJure {
    width: 30rem;
    margin: 4rem;
  }
  
  .icons {
    width: 30rem;
  }
  .secretIcon {
    width: 4rem;
    margin-top: 10rem;
  }

.pCTA {
  font-size: 1.5rem;
}  

  .footer {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .jurestyle {
    color: #cf6b26;
  }

  .linkTo {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
  }
}

/* Large devices (large desktops, high-resolution screens) */
@media only screen and (min-width: 1280px) and (max-width: 1649px) {
  /* styles for large desktops and high-resolution screens */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-700);
    width: 100%;
    color: var(--white);
  }
  
  .buttonContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .btnPrimary {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .CallToAction {
    width: 60vw;
    display: flex;
    border-bottom: solid var(--white) 1px;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3.5rem;
  }
  
.h1JURE {
  font-size: 3.5rem;
}

  .containerInfo1, .containerInfo3 {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid var(--white) 1px;
    padding: 4rem;
    margin-top: 2rem;
margin-bottom: 2rem;
  }

  .containerInfo2, .containerInfo4 {
    width: 60vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: solid var(--white) 1px;
    padding: 4rem;
    margin-top: 2rem;
margin-bottom: 2rem;
  }

  .containerText {
    margin-left: 2rem;
    margin: 3rem;
    text-align: center;
  }
  .h2Text {
    font-size: 2.5rem;
    margin: 3rem;
    text-align: center;
  }

  .text {
    font-size: 1.5rem;
    text-align: justify;
    hyphens: auto;
  }
  
  .imgJure {
    width: 30rem;
    margin: 4rem;
  }
  
  .icons {
    width: 30rem;
  }
  .secretIcon {
    width: 6rem;
    margin-top: 10rem;
  }

.pCTA {
  font-size: 1.5rem;
}  

  .footer {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .jurestyle {
    color: #cf6b26;
  }

  .linkTo {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
  }
}

/* Styling for HUGE devices */
@media only screen and (min-width: 1650px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-700);
    width: 100%;
    color: var(--white);
  }
  
  .buttonContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .btnPrimary {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .CallToAction {
    width: 60vw;
    display: flex;
    border-bottom: solid var(--white) 1px;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
.h1JURE {
  font-size: 4rem;
}

.containerInfo1, .containerInfo2, .containerInfo3, 
.containerInfo4 {
    width: 60vw;
    text-align: left;
    display: flex;
    border-bottom: solid var(--white) 1px;
    padding: 4rem;
    margin-top: 2rem;
margin-bottom: 2rem;
  }

  .containerText {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .h2Text {
    font-size: 2.5rem;
    margin-bottom: 3rem;;
  }

  .text {
    font-size: 1.5rem;
    text-align: justify;
    hyphens: auto;
  }
  
  .imgJure {
    width: 30rem;
    margin: 4rem;
  }
  
  .icons {
    width: 30rem;
  }

  .secretIcon {
    width: 6rem;
    margin-top: 10rem;
  }

.pCTA {
  font-size: 1.8rem;
}  

  .footer {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .jurestyle {
    color: #cf6b26;
  }

  .linkTo {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
  }
}