.card {
    padding: 2rem;
    margin: 10px;
    color: white;
    background-color: var(--gray-200);
    border-radius: 10px;
  }

  .style-input{
    margin: 0.5rem;
    padding: 0.5rem;
  }

 .form-input {
    background-color: white;
    border-radius: 10px;
    color: white;
    width: 75vw;
  }

  .forgot-pw{
    margin: 5px 0px 10px 0px;
    text-align: center;
    color: var(--blue-600);
    font-size: 0.8rem;
  }

  a:visited {
    color: var(--blue-600);
    background-color: transparent;
    text-decoration: none;
  }