.ContainerStyle{
  position: absolute;
  top:0;
  background-color: var(--blue-700);
  width: 100vw;
  height: 100vh;
}

.ContainerStyle img{
 margin: 0;
 padding: 0;
 height: 10vh;
 width: 100vw;

}

.ButtonContainer{
  display: flex ;
  justify-content: center;
  width: 100vw;
  display: flex;
  align-self:  center;
}

.SubmitContainer{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.SubmitContainer button{
  width: 40vw;
  border-radius: 10px;
  margin: 5rem;
  margin-top: 1rem;
}

.ContainerText{
text-transform: uppercase;
text-align: center;
color: rgb(255, 255, 255);
}

.card {
  width: 100vw;
  padding: 0rem;
  margin: 0px;
  color: rgb(255, 255, 255);
  background-color: var(--blue-700);
  border-radius: 10px;
  
}

.TextField{
  margin: 30vw;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.TextField input{
  width: 50vw;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.Login{
  color: white;
}

.styleinput {
  margin: 0.5rem;
  padding: 0.5rem;
}

.forminput {
  background-color: white;
  border-radius: 10px;
  color: white;
  width: 75vw;
}

.forgot-pw {
  text-decoration: none;
  color:red;
  margin: 5px 0px 10px 0px;
  text-align: center;
  color: var(--blue-600);
  font-size: 1rem;
}

.forgot-pw:visited{
  color: red;
}

.loginSuccess {
  transform: rotate(-12deg);
  color: #002733;
  font-size: 2rem;
  font-weight: bold;
  border: .25rem solid black;
  border-radius: 1rem;
  text-align: center;
  mix-blend-mode: multiply;
};

.loginMessageOutput {
  color: #acacac;
}