.ContainerStyle{
  position: absolute;
  top:0;
  height: 100vh;
  background-color: var(--blue-700);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContainerStyle img{
 margin: 0;
 padding: 0;
 height: 15vh;
 width: 100vw;
}

.ContainerText{
text-transform: uppercase;
text-align: center;
color: rgb(255, 255, 255);
margin: 10px;
}



.card {
  width: 45vw;
  height:fit-content;
  color: rgb(255, 255, 255);
  background-color: var(--gray-200);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.card button{
  width: 40vw;
}
.TextField{
  width: 40vw;
}

.TextField input{
  padding: 0.5rem;
  margin-top: 1rem;
}

.Login{
  color: white;
}

.styleinput {
  margin: 0.5rem;
  padding: 0.5rem;
}

.forminput {
  background-color: white;
  border-radius: 10px;  
}

#btn-pw {
  width: 40vw;
  height:fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
}

a:active{
  color: red;
}

a{
  color: var(--blue-600);
  margin-left: 12px;
  font-size: 0.7rem;
}

.loginSuccess {
  transform: rotate(-12deg);
  color: #002733;
  font-size: 2rem;
  font-weight: bold;
  border: .25rem solid black;
  border-radius: 1rem;
  text-align: center;
  mix-blend-mode: multiply;
};

.loginMessageOutput {
  color: #acacac;
}