#root{
  background-color: var(--blue-600);
  height:100vh
}

/* Style the buttons at the top */
button {
  background-color: #1e36ea;
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}





button:hover {
  background-color: #5b42fc;
  transform: translateY(-2px);
}

/* Style the map container */
.map-container {
  width: 100vw;
  height: 100vh;
  margin: 50px 0px;
}

/* Style the map */
.leaflet-container {
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

/* Style the marker popup */
.marker-popup {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--blue-600);
  z-index: 1;
  font-size: 2em;
  height: 100%;
}

.marker-popup h3 {
  
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}

/*temporär fix für +- being offset */
span {
  top: 1rem;
  font-size: 1.5rem;
  left: 1rem;
}

.marker-popup ul {
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  background-color: #333;
}

.marker-popup li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  min-width: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #1f28d2;
  box-sizing: border-box;
}

.marker-popup li div {
  display: flex;
  align-items: center;
}

.marker-popup li img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.marker-popup li h4,
.marker-popup li p {
  margin: 0;
  line-height: 1.5;
}

.navbarbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}

.marker-popup li h4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.leaflet-popup-content p:first-of-type {
  font-weight: 900 !important;
}
.leaflet-popup-content-wrapper {
  padding: 8px !important;
  text-align: justify !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;

  background-color: rgba(255, 255, 255, 0.9) !important;
}
.leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.leaflet-popup-content-wrapper p {
  line-height: 150% !important;
  hyphens: auto !important;
  hyphenate-limit-chars: auto 7 !important;
  hyphenate-limit-lines: 2 !important;
}
