.containerStyle {
  top: 0;
  height: 100vh;
  background-color: var(--blue-700);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerStyle img {
  margin: 0;
  padding: 0;
  height: 15vh;
  width: 100vw;
}

.card {
  width: 45vw;
  height: fit-content;
  color: rgb(255, 255, 255);
  background-color: var(--gray-200);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/* .card button{
  width: 40vw;
  background-color: var(--gray-600);
  margin-top: 1rem;
  cursor: not-allowed;
}

.card button:not([disabled]) {
  background-color: var(--blue--700);
  cursor: pointer;
} */
.btnprimary {
  width: 40vw;
}

.divTextField {
  width: 40vw;
}

.register {
  color: white;
}

.forminput {
  background-color: white;
  border-radius: 10px;
}

.agb {
  /*   width: 40vw;
  /*  height:fit-content; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem; */
  display: block;
  width: 40px;
}

.alink {
  color: var(--blue-600);
  margin-left: 12px;
  font-size: 0.7rem;
}
